@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 220 14% 71%;
  --background: 0 0% 100%;
  --primary: 222 47% 11%;
  --primary-foreground: 210 40% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;
  --accent: 210 40% 96%;
  --accent-foreground: 222 47% 11%;
  --ring: 215 20% 65%;
}

.border-border {
  border-color: hsl(var(--border));
}

.bg-background {
  background-color: hsl(var(--background));
}
